.modal {
  max-width: 405px;
  width: 100%;
  padding: 35px 3.13% 3.52% 46px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.modal__text {
  line-height: 20px;
  color: $black;
  margin-bottom: 26px;
  max-width: 273px;
}

.modal__enter-button {
  max-width: 320px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background-color: $red;
  padding: 18px 0 17px;
  color: $white;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  outline: none;
}

.modal__enter-button:hover {
  background-color: rgba(154, 0, 7, 1);
}

.modal__enter-button:active {
  opacity: 0.7;
}

.modal__forgotten-password,
.modal__registration {
  line-height: 20px;
  color: $text-blue;
  border-bottom: 1px dashed $text-blue;
}

.modal__forgotten-password:hover,
.modal__registration:hover {
  color: $blue-hover;
  border-color: none;
}

.modal__forgotten-password:active,
.modal__registration:active {
  opacity: 0.7;
}

.modal__forgotten-password {
  margin-bottom: 28px;
}

.modal__form-input::placeholder {
  font-size: 18px;
  line-height: 18px;
  color: $text-gray;
}

.modal__form-input {
  font-size: 18px;
  line-height: 18px;
  padding: 18px 21px 18px;
  border-top: 2px solid $text-gray;
  border-left: 2px solid $text-gray;
  width: 100%;
  max-width: 320px;
  margin-bottom: 20px;

  &--password {
    margin-bottom: 17px;
  }
}

.modal__form-item {
  margin: 0;
  border: none;
  padding: 0;
}

.modal__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal__close-toggle {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
}

.modal__close {
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: -42px;
  cursor: pointer;
  outline: none;
}

.modal__close-toggle::before,
.modal__close-toggle::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: $white;
  top: 10px;
  left: 2px;
}

.modal__close-toggle::before {
  transform: rotate(45deg);
}

.modal__close-toggle::after {
  transform: rotate(-45deg);
}

.modal__close:hover .modal__close-toggle::before,
.modal__close:hover .modal__close-toggle::after {
  background-color: $red;
}

.modal__close:active .modal__close-toggle::before,
.modal__close:active .modal__close-toggle::after {
  background-color: rgba(154, 0, 7, 1);
}
