$main-black: #231f20;
$black: #000000;
$white: #ffffff;
$text-blue: #0777ba;
$blue-hover: #004685;
$red: #d30531;
$gray: #e6ecf1;
$text-gray: #969696;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$desktop-width: 767px;
$icon-gray: #cacaca;
